.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &-phone {
    width: 10px;
    height: 16px;
  }

  .link:hover &,
  .link:focus & {
    fill: currentColor;
  }
}
